body {
  font-family: sans-serif;
}

div {
  text-align: center;
}
#links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: underline;
  color: black;
}

div #home {
  background: url('/Notebook.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  position: relative;
  background-color: #fcf9ec;
}

#edit {
  display: flex;
  flex-direction: column;
}
#phrases {
  flex-direction: row;
}

button {
  width: 80px;
}

#letter {
  height: 30vh;
  width: 40vw;
}

#logo {
  font-family: 'Roboto';
  font-size: 600%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
